.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rotate {
  animation: rotation 2s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.unsel {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
  -webkit-user-drag: none;
  user-drag: none;
}

.bro {
  position: fixed;
  bottom: 15px;
  background-color: #e6e6e6;
  font-size: 13px;
  background: rgba(0, 0, 0, 0.07);
  padding: 10px 15px;
  border-radius: 22px;
  display: inline-block;
  margin-right: 5px;
}

@media (max-width: 700px) {
  .sitter {
    display: none;
  }
}

/** LINKS **/
.github-link {
  color: black;
  text-decoration: underline;
}
.github-link:hover {
  text-decoration: none;
}
.github-link:visited {
  color: black;
}

.font {
  font-family: 'Source Code Pro', monospace;
}
